<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <h1>ข้าวต้มมัดยายเขียด</h1>
    <img class="product-thumbnail" src="images/product-a.jpg">
    <img class="product-thumbnail" src="images/product-b.jpg">
    <img class="product-thumbnail" src="images/product-c.jpg">
</body>

</html>